data_dir  = "/var/lib/nomad"

bind_addr = "0.0.0.0" # the default

advertise {
  # Defaults to the first private IP address.
  http = "{{ bind_address }}"
  rpc  = "{{ bind_address }}"
  serf = "{{ bind_address }}:5648" # non-default ports may be specified
}
{% if groups['nomadServers'] >= 3 and inventory_hostname in groups['nomadServers'][:3] %}
server {
  enabled          = true
  bootstrap_expect = 3
}
{% elif groups['nomadServers'] == 1 %}
server {
  enabled          = true
}
{% else %}
client {
  enabled       = true
  network_speed = 10
  options {
    "driver.raw_exec.enable" = "0"
  }
}
{% endif %}

{% if groups['consulServers'] == '' and nomad.consul_servers != '' %}
consul {
  address = ["{{ nomad.consul_servers | join('","') }}"]
}
{% endif %}
